.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

.wrapper > div:nth-child(2) {
  place-self: center center;
}

.wrapper div {
  background-color: royalblue;
}

.wrapper div:nth-child(even) {
  background-color: skyblue;
}
